#googlemap-canvas {
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.searchSection {
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: rgba(255,255,255, 0.9);
  border: 1px solid gray;
  padding: 15px 10px;
}

.searchSection input {
  width: 175px;
  padding: 5px;
}

.reviewSection {
	  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 25px;
  right: 10px;
  background: rgba(255,255,255, 0.9);
  width: 25%;
  max-height: 90%;
  border: 1px solid gray;
}